@using AisLogistics.App.ViewModels.Cases
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ViewModelBuilder
@{
    ViewBag.Title = Model.ViewTitle;
    var requestModel = Model.Model as CaseDetailsResponseModel<CasesDto>;
    var casesTemp = requestModel.Data.casesMainDto;
    var first = requestModel?.Data.Services.First();
}

<link rel="stylesheet" href="~/assets/vendor/libs/scanner.js/dist/scanner.css" />
<link rel="stylesheet" href="~/assets/css/case-details.css" asp-append-version="true" />

<section>
    <div class="detail-card card">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="b-s-14">
                                № @casesTemp.CaseId
                                <a asp-controller="Cases" asp-action="CasesСopyModal" asp-route-id="@casesTemp.CaseId" data-btn-type="modal" data-bs-toggle="tooltip"><i class='bi bi-bookmarks text-success'></i></a>
                            </div>
                            <div class="r-s-12">
                                @casesTemp.DateAdd
                            </div>
                            <div class="r-s-12">
                                @casesTemp.Tiket
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-column">
                                <a asp-controller="Cases" asp-action="ServiceCustomerAddModal" asp-route-id="@casesTemp.Applicant.Id" asp-route-subjectCustomerType="@casesTemp.CustomerType" data-btn-type="modal" data-bs-toggle="tooltip">
                                    <div class="b-s-18 customer">@casesTemp.Applicant.Name</div>
                                </a>
                                @if (string.IsNullOrEmpty(casesTemp.Applicant.Address) == false)
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="r-s-12">
                                            <i class="bi bi-geo-alt text-primary"></i>
                                            @casesTemp.Applicant.Address
                                        </div>
                                    </div>
                                }
                                @if (string.IsNullOrEmpty(casesTemp.Applicant.Phone) == false)
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="r-s-12">
                                            <i class="bi bi-telephone text-primary"></i>
                                            @casesTemp.Applicant.Phone
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (casesTemp.Recipient is not null)
                            {
                                <div class="d-flex flex-column">
                                    <a asp-controller="Cases" asp-action="ServiceCustomerAddModal" asp-route-id="@casesTemp.Recipient.Id" asp-route-subjectCustomerType="2" data-btn-type="modal" data-bs-toggle="tooltip">
                                        <span class="b-s-18 me-1 customer">@casesTemp.Recipient.Name</span><span class="r-l-12">(Представитель)</span>
                                    </a>
                                    @if (string.IsNullOrEmpty(casesTemp.Recipient.Address) == false)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="r-s-12">
                                                <i class="bi bi-geo-alt text-primary"></i>
                                                @casesTemp.Recipient.Address
                                            </div>
                                        </div>
                                    }
                                    @if (string.IsNullOrEmpty(casesTemp.Recipient.Phone) == false)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="r-s-12">
                                                <i class="bi bi-telephone text-primary"></i>
                                                @casesTemp.Recipient.Phone
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="r-s-14">Представитель:</div>
                                <div class="r-l-12 mt-1">Нет данных</div>
                            }
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a asp-action="DetailsComments" class="" asp-controller="Cases" asp-route-id="@casesTemp.CaseId" data-btn-type="modal" data-bs-toggle="tooltip">
                                            <i class="bi bi-chat-right-text me-2"></i>
                                            Комментарии
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a asp-action="DetailsNotification" class="" asp-controller="Cases" asp-route-id="@casesTemp.CaseId" data-btn-type="modal" data-bs-toggle="tooltip">
                                            <i class="bi bi-bell me-2"></i>
                                            Оповещения
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a asp-action="DetailsAudit" class="" asp-controller="Cases" asp-route-id="@casesTemp.CaseId" data-btn-type="modal" data-bs-toggle="tooltip">
                                            <i class="bi bi-journal-text me-2"></i>
                                            Действия 
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="javascript:void(0)" data-bs-toggle="dropdown" aria-expanded="false" aria-labelledby="DropdownNotes">
                                            <i class="bi bi-clipboard-plus me-2"></i>
                                            Заметки
                                        </a>
                                        <div id="notesAccordion" aria-labelledby="DropdownNotes" class="dropdown-menu p-0">
                                            <div class="modal-service-header p-3">
                                                <div class="d-flex justify-content-between align-items-center px-2 font-weight-light text-black-50 mb-0">
                                                    <span class="vertical-middle r-s-14">Напоминания</span>
                                                    <a asp-action="ServiceNotesChangeModal" asp-controller="Cases" asp-route-actionType="0" asp-route-caseid="@casesTemp.CaseId" data-btn-type="modal" data-bs-toggle="tooltip" class="btn btn-primary btn-icon btn-sm waves-effect waves-light">
                                                        <i class="bi bi-plus"></i>
                                                    </a>
                                                </div>
                                                <hr class="my-2" />
                                                <ul id="casesNotesList" class="list-group list-group-flush list-notes">
                                                    @foreach (var item in casesTemp.Notes)
                                                    {
                                                        <li class="list-group-item px-2">
                                                            <div class="row">
                                                                <div class="col-8 d-flex flex-column justify-content-center">
                                                                    <span class="b-s-12">@(item.DateReminder.HasValue ? item.DateReminder.Value.ToShortDateString() : string.Empty)</span>
                                                                    <span class="r-s-14">@item.NotesText</span>
                                                                </div>
                                                                <div class="col-4 px-1 d-flex justify-content-end">
                                                                    <a asp-action="ServiceNotesChangeModal" asp-controller="Cases" asp-route-actionType="1" asp-route-id="@item.Id" class="btn btn-icon" data-btn-type="modal" data-bs-toggle="tooltip"><i class='bi bi-pencil-square-alt'></i></a>
                                                                    <a href="javascript:void(0);" class="btn btn-icon text-danger" data-btn-type="remove" data-action-remove="/Cases/ServiceNotesDelete" data-btn-params={"id":"@item.Id"}><i class="bi bi-trash"></i></a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    @foreach (var item in requestModel?.Data.Services)
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="case-user-list_card" data-service-id="@item.Id">
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="col">
                                            <i class="bi bi-globe-americas me-2"></i>
                                            <span class="b-s-14">
                                                @item.InteractionName
                                            </span>
                                        </div>
                                        <div class="col text-end">
                                            <service-status name="@item.Status.Name" status="@item.Status.Id"></service-status>
                                        </div>
                                    </div>
                                    <p class="m-s-14">@(item.ProcedureName.Length > 150 ? item.ProcedureName.Substring(0, 150) + "..." : item.ProcedureName)</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4">
                                    <p class="m-l-12">@first.ProcedureName</p>
                                    <p class="r-l-12">@(first.Office.Length > 350 ? first.Office.Substring(0, 350) + "..." : first.Office)</p>
                                    <a class="d-flex mb-3 text-decoration-underline fs-12" asp-action="ServiceDepartamentAddModal" asp-route-id="@first.Id" asp-route-officeid="@first.OfficeId"
                                       asp-route-departamentId="@first.DepartamentId" data-bs-toggle="tooltip" title="Добавить" data-btn-type="modal">
                                        @(first.DepartamentName ?? "Отдел не выбран")
                                    </a>
                                </div>
                                <div class="col-2">
                                    <div>
                                        <p class="my-0 fs-12">@first.Status.Name</p>
                                    </div>
                                    <div>
                                        
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div>
                                        <p class="my-0 fs-12">@first.SerivesStage.Stage.Name</p>
                                    </div>
                                    <div>
                                        <p class="my-0 fs-12"><days count="@(first.Days.HasValue ? first.Days.Value : 0)"></days></p>
                                    </div>
                                </div>
                                <div class="col-2">

                                </div>
                                <div class="col-2">
                                    <button class="btn btn-outline-primary px-4 r-s-14" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-printer me-1"></i>
                                        Печать
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 40px);" data-popper-placement="bottom-start">
                                        <a asp-action="PrintConsultationService" asp-controller="Cases" asp-route-id="@first.CaseId" class="dropdown-item m-s-14" target="_blank" data-bs-toggle="tooltip">Консультация</a>
                                        <a asp-action="PrintProcessingPersonalData" asp-controller="Cases" asp-route-id="@first.CaseId" class="dropdown-item m-s-14" target="_blank" data-bs-toggle="tooltip">Согласие на ОПД </a>
                                        <a asp-action="ModalPrintAcceptDocuments" asp-controller="Cases" asp-route-id="@first.CaseId" class="dropdown-item m-s-14" data-btn-type="modal" data-bs-toggle="tooltip">Расписка о принятии документов</a>
                                        <a asp-action="ModalPrintIssuanceDocuments" asp-controller="Cases" asp-route-id="@first.CaseId" class="dropdown-item m-s-14" data-btn-type="modal" data-bs-toggle="tooltip">Расписка о выдаче документов</a>
                                        <hr />
                                        <a asp-action="DownloadConsultationService" asp-controller="Cases" asp-route-id="@first.CaseId" class="dropdown-item m-s-14" target="_blank" data-bs-toggle="tooltip">Скачать Консультация</a>
                                        <a asp-action="DownloadProcessingPersonalData" asp-controller="Cases" asp-route-id="@first.CaseId" class="dropdown-item m-s-14" target="_blank" data-bs-toggle="tooltip">Скачать Согласие на ОПД </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="case-app-content">
                                        <partial name="Details/_ManageNav" view-data="ViewData" />
                                        <div id="case-app-details"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts
{
    <script src="~/assets/vendor/libs/scanner.js/dist/scannerV2.js" type="text/javascript"></script>
    <script src="~/assets/js/pages/case-details.js"></script>
}
