@model _41_6_PfrAppointMonthlyCashPaymentsModel
  
<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
        <h5 class="my-2">Заявитель</h5>
            <div class="row mb-2">
                <div class="col-sm-12">
                    <label class="form-label" asp-for="Customer.Citizenship">Гражданство</label>
                    <select class="select2-search" asp-for="Customer.Citizenship" data-value-value
                            data-dictionary='{"dictionary":"Oksm", "default_value":"@(string.IsNullOrEmpty(Model.Customer.Citizenship) ?  "Россия" : Model.Customer.Citizenship)"}'>
                    </select>
                </div>
                <div class="col-sm-12">
                    <label class="form-label" asp-for="Customer.LastNameBirth">Фамилия, которая была при рождении</label>
                    <input type="text" asp-for="Customer.LastNameBirth" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Customer.StayAddress">Адрес места пребывания</label>
                    <input type="text" asp-for="Customer.StayAddress" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Customer.ActualResidenceAddress">Адрес фактического проживания</label>
                    <input type="text" asp-for="Customer.ActualResidenceAddress" class="form-control">
                </div>
            </div> 
            <hr />
            <h5 class="my-2">Представитель</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Representative.StayAddress">Адрес места пребывания </label>
                    <input type="text" asp-for="Representative.StayAddress" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Representative.ActualResidenceAddress">Адрес фактического проживания</label>
                    <input type="text" asp-for="Representative.ActualResidenceAddress" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Representative.OrganizationLegalAddress">Юридический адрес организации</label>
                    <input type="text" asp-for="Representative.OrganizationLegalAddress" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Representative.OrganizationLocation">Место нахождения организации</label>
                    <input type="text" asp-for="Representative.OrganizationLocation" class="form-control">
                </div>
            </div>  
            <hr />
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="PaymentCaseLocation">Место нахождения выплатного дела</label>
                    <input type="text" asp-for="PaymentCaseLocation" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="PersonCategory">Категория лица, имеющего право на ежемесячную денежную выплату</label>
                    <select class="select2-nosearch" asp-for="PersonCategory">
                        <option value="Участники Великой Отечественной Войны, ставшие инвалидами">Участники Великой Отечественной Войны, ставшие инвалидами</option>
                        <option value="Участники Великой Отечественной войны">Участники Великой Отечественной войны</option>
                        <option value="Ветераны боевых действий">Ветераны боевых действий</option>
                        <option value="Военнослужащие, проходившие военную службу в воинских частях, учреждениях, военно-учебных заведениях, не входивших в состав действующей армии, в период с 22 июня 1941 года по 3 сентября 1945 года не менее шести месяцев, военнослужащие, награжденные орденами или медалями СССР за службу в указанный период">Военнослужащие, проходившие военную службу в воинских частях, учреждениях, военно-учебных заведениях, не входивших в состав действующей армии, в период с 22 июня 1941 года по 3 сентября 1945 года не менее шести месяцев, военнослужащие, награжденные орденами или медалями СССР за службу в указанный период</option>
                        <option value="Лица, награжденные знаком &quot;Жителю блокадного Ленинград&quot;">Лица, награжденные знаком &quot;Жителю блокадного Ленинград&quot;</option>
                        <option value="Лица, работавшие в период Великой Отечественной войны на объектах противовоздушной обороны, местной противовоздушной обороны, на строительстве оборонительных сооружений, военно-морских баз, аэродромов и других военных объектов в пределах тыловых границ действующих фронтов, операционных зон действующих флотов, на прифронтовых участках железных и автомобильных дорог, а также члены экипажей судов транспортного флота, интернированных в начале Великой Отечественной войны в портах других государств">Лица, работавшие в период Великой Отечественной войны на объектах противовоздушной обороны, местной противовоздушной обороны, на строительстве оборонительных сооружений, военно-морских баз, аэродромов и других военных объектов в пределах тыловых границ действующих фронтов, операционных зон действующих флотов, на прифронтовых участках железных и автомобильных дорог, а также члены экипажей судов транспортного флота, интернированных в начале Великой Отечественной войны в портах других государств</option>
                        <option value="Члены семей погибших (умерших) инвалидов войны, участников Великой Отечественной войны и ветеранов боевых действий; члены семей погибших в Великой Отечественной войне лиц из числа личного состава групп самозащиты объектовых и аварийных команд местной противовоздушной обороны, а также члены семей погибших работников госпиталей и больниц города Ленинграда">Члены семей погибших (умерших) инвалидов войны, участников Великой Отечественной войны и ветеранов боевых действий; члены семей погибших в Великой Отечественной войне лиц из числа личного состава групп самозащиты объектовых и аварийных команд местной противовоздушной обороны, а также члены семей погибших работников госпиталей и больниц города Ленинграда</option>
                        <option value="Дети-инвалиды">Дети-инвалиды</option>
                        <option value="Военнослужащие и лица рядового и начальствующего состава органов внутренних дел, Государственной противопожарной службы, учреждений и органов уголовно-исполнительной системы, ставших инвалидами вследствие ранения, контузии или увечья, полученных при исполнении обязанностей военной службы (служебных обязанностей)">Военнослужащие и лица рядового и начальствующего состава органов внутренних дел, Государственной противопожарной службы, учреждений и органов уголовно-исполнительной системы, ставших инвалидами вследствие ранения, контузии или увечья, полученных при исполнении обязанностей военной службы (служебных обязанностей)</option>
                        <option value="Бывшие несовершеннолетние узники концлагерей, гетто, других мест принудительного содержания, созданных фашистами и их союзниками в период второй мировой войны, признанные инвалидами вследствие общего заболевания, трудового увечья и других причин (за исключением лиц, инвалидность которых наступила вследствие их противоправных действий">Бывшие несовершеннолетние узники концлагерей, гетто, других мест принудительного содержания, созданных фашистами и их союзниками в период второй мировой войны, признанные инвалидами вследствие общего заболевания, трудового увечья и других причин (за исключением лиц, инвалидность которых наступила вследствие их противоправных действий</option>
                        <option value="Бывшие несовершеннолетние узники концлагерей, гетто, других мест принудительного содержания, созданных фашистами и их союзниками в период второй мировой войны">Бывшие несовершеннолетние узники концлагерей, гетто, других мест принудительного содержания, созданных фашистами и их союзниками в период второй мировой войны</option>
                        <option value="Инвалиды (I группа)">Инвалиды (I группа)</option>
                        <option value="Инвалиды (II группа)">Инвалиды (II группа)</option>
                        <option value="Инвалиды (III группа)">Инвалиды (III группа)</option>
                        <option value="Граждане, получившие или перенесшие лучевую болезнь и другие заболевания, связанные с радиационным воздействием вследствие чернобыльской катастрофы или с работами по ликвидации последствий катастрофы на Чернобыльской АЭС">Граждане, получившие или перенесшие лучевую болезнь и другие заболевания, связанные с радиационным воздействием вследствие чернобыльской катастрофы или с работами по ликвидации последствий катастрофы на Чернобыльской АЭС</option>
                        <option value="Инвалиды вследствие чернобыльской катастрофы"></option>
                        <option value="Семьи, потерявшие кормильца из числа граждан, погибших в результате катастрофы на Чернобыльской АЭС, умерших вследствие лучевой болезни и других заболеваний, возникших в связи с чернобыльской катастрофой, а также семьи умерших инвалидов">Семьи, потерявшие кормильца из числа граждан, погибших в результате катастрофы на Чернобыльской АЭС, умерших вследствие лучевой болезни и других заболеваний, возникших в связи с чернобыльской катастрофой, а также семьи умерших инвалидов</option>
                        <option value="Участник ликвидации последствий катастрофы на Чернобыльской АЭС 1986-1987 г. г., &quot;укрытие&quot; 1988-1990 гг.">Участник ликвидации последствий катастрофы на Чернобыльской АЭС 1986-1987 г. г., &quot;укрытие&quot; 1988-1990 гг.</option>
                        <option value="Семьи, в том числе вдовы (вдовцы) умерших участников ликвидации последствий катастрофы на Чернобыльской АЭС 1986-1987 гг., &quot; укрытие&quot;1988-1990 гг.">Семьи, в том числе вдовы (вдовцы) умерших участников ликвидации последствий катастрофы на Чернобыльской АЭС 1986-1987 гг., &quot; укрытие&quot;1988-1990 гг.</option>
                        <option value="Рабочие и служащие, а также военнослужащие, лица начальствующего и рядового состава ОВД, Государственной противопожарной службы, получившие профессиональные заболевания, связанные с лучевым воздействием на работах в зоне отчуждения">Рабочие и служащие, а также военнослужащие, лица начальствующего и рядового состава ОВД, Государственной противопожарной службы, получившие профессиональные заболевания, связанные с лучевым воздействием на работах в зоне отчуждения</option>
                        <option value="Граждане, эвакуированные (в том числе выехавшие добровольно) в 1986 году из зоны отчуждения, включая детей, в т.ч. детей, которые в момент эвакуации находились в состоянии внутриутробного развития">Граждане, эвакуированные (в том числе выехавшие добровольно) в 1986 году из зоны отчуждения, включая детей, в т.ч. детей, которые в момент эвакуации находились в состоянии внутриутробного развития</option>
                        <option value="Дети и подростки, страдающие болезнями вследствие ЧАЭС или обусловленными генетическими последствиями радиоактивного облучения одного из родителей">Дети и подростки, страдающие болезнями вследствие ЧАЭС или обусловленными генетическими последствиями радиоактивного облучения одного из родителей</option>
                        <option value="Граждане, получившие лучевую болезнь, другие заболевания, включенные в перечень заболеваний, возникновение или обострение которых обусловлены воздействием радиации вследствие аварии в 1957 году на производственном объединении &quot;Маяк&quot; и сбросов радиоактивных отходов в реку Теча, граждане, ставшие инвалидами вследствие воздействия радиации вследствие аварии в 1957 году на производственном объединении &quot;Маяк&quot; и сбросов радиоактивных отходов в реку Теча">Граждане, получившие лучевую болезнь, другие заболевания, включенные в перечень заболеваний, возникновение или обострение которых обусловлены воздействием радиации вследствие аварии в 1957 году на производственном объединении &quot;Маяк&quot; и сбросов радиоактивных отходов в реку Теча, граждане, ставшие инвалидами вследствие воздействия радиации вследствие аварии в 1957 году на производственном объединении &quot;Маяк&quot; и сбросов радиоактивных отходов в реку Теча</option>
                        <option value="Граждане, принимавшие в 1957 - 1958 годах непосредственное участие в работах по ликвидации последствий аварии в 1957 году на производственном объединении &quot;Маяк&quot; , а также граждане, занятые на работах по проведению защитных мероприятий и реабилитации радиоактивно загрязненных территорий вдоль реки Теча в 1949 - 1956 годах">Граждане, принимавшие в 1957 - 1958 годах непосредственное участие в работах по ликвидации последствий аварии в 1957 году на производственном объединении &quot;Маяк&quot; , а также граждане, занятые на работах по проведению защитных мероприятий и реабилитации радиоактивно загрязненных территорий вдоль реки Теча в 1949 - 1956 годах</option>
                        <option value="Граждане, эвакуированные (переселенные), а также добровольно выехавшие (с 29 сентября 1957 года по 31 декабря 1960 года) из населенных пунктов (в том числе эвакуированные (переселенные) в пределах населенных пунктов, где эвакуация (переселение) производилась частично), подвергшиеся радиоактивному загрязнению вследствие аварии в 1957 году на производственном объединении &quot;Маяк&quot; и сбросов радиоактивных отходов в реку Теча (выехавшие с 1949 года по 1962 год включительно), включая детей, в том числе детей, которые в момент эвакуации (переселения) находились в состоянии внутриутробного развития, а также военнослужащие, вольнонаемный состав войсковых частей и спецконтингент, эвакуированные в 1957 году из зоны радиоактивного загрязнения">Граждане, эвакуированные (переселенные), а также добровольно выехавшие (с 29 сентября 1957 года по 31 декабря 1960 года) из населенных пунктов (в том числе эвакуированные (переселенные) в пределах населенных пунктов, где эвакуация (переселение) производилась частично), подвергшиеся радиоактивному загрязнению вследствие аварии в 1957 году на производственном объединении &quot;Маяк&quot; и сбросов радиоактивных отходов в реку Теча (выехавшие с 1949 года по 1962 год включительно), включая детей, в том числе детей, которые в момент эвакуации (переселения) находились в состоянии внутриутробного развития, а также военнослужащие, вольнонаемный состав войсковых частей и спецконтингент, эвакуированные в 1957 году из зоны радиоактивного загрязнения</option>
                        <option value="Семьи, потерявшие кормильца из числа граждан, получивших лучевую болезнь, другие заболевания, включенные в перечень заболеваний, возникновение или обострение которых обусловлены воздействием радиации вследствие аварии в 1957 году на производственном объединении &quot;Маяк&quot; и сбросов радиоактивных отходов в реку Теча, граждан, ставших инвалидами вследствие воздействия радиации вследствие аварии в 1957 году на производственном объединении &quot;Маяк&quot; и сбросов радиоактивных отходов в реку Теча, если смерть явилась следствием воздействия радиации в результате аварии в 1957 году на производственном объединении &quot;Маяк&quot; и сбросов радиоактивных отходов в реку Теча">Семьи, потерявшие кормильца из числа граждан, получивших лучевую болезнь, другие заболевания, включенные в перечень заболеваний, возникновение или обострение которых обусловлены воздействием радиации вследствие аварии в 1957 году на производственном объединении &quot;Маяк&quot; и сбросов радиоактивных отходов в реку Теча, граждан, ставших инвалидами вследствие воздействия радиации вследствие аварии в 1957 году на производственном объединении &quot;Маяк&quot; и сбросов радиоактивных отходов в реку Теча, если смерть явилась следствием воздействия радиации в результате аварии в 1957 году на производственном объединении &quot;Маяк&quot; и сбросов радиоактивных отходов в реку Теча</option>
                        <option value="Граждане, проживавшие в 1949-1963 годах в населенных пунктах на территории РФ и за ее пределами, включенных в утверждаемые Правительством РФ перечни населенных пунктов, подвергшихся радиационному воздействию вследствие ядерных испытаний на Семипалатинском полигоне и получившие суммарную (накопленную) эффективную дозу облучения, превышающую 25 сЗв (бэр)">Граждане, проживавшие в 1949-1963 годах в населенных пунктах на территории РФ и за ее пределами, включенных в утверждаемые Правительством РФ перечни населенных пунктов, подвергшихся радиационному воздействию вследствие ядерных испытаний на Семипалатинском полигоне и получившие суммарную (накопленную) эффективную дозу облучения, превышающую 25 сЗв (бэр)</option>
                        <option value="Родители и жены погибших/умерших военнослужащих">Родители и жены погибших/умерших военнослужащих</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Law">в соответствии с Федеральным законом</label>
                    <select class="select2-nosearch" asp-for="Law">
                        <option value="от 12.01.1995 № 5-ФЗ  «О ветеранах»">от 12.01.1995 № 5-ФЗ  «О ветеранах»</option>
                        <option value="от 22.08.2004 №122-ФЗ «О внесении изменений в законодательные акты Российской Федерации и признании утратившими силу некоторых законодательных актов Российской Федерации в связи с принятием федеральных законов «О внесении изменений и дополнений в Федеральный закон «Об общих принципах организации законодательных (представительных) и исполнительных органов государственной власти субъектов Российской Федерации» и «Об общих принципах организации местного самоуправления в Российской Федерации»">от 22.08.2004 №122-ФЗ «О внесении изменений в законодательные акты Российской Федерации и признании утратившими силу некоторых законодательных актов Российской Федерации в связи с принятием федеральных законов «О внесении изменений и дополнений в Федеральный закон «Об общих принципах организации законодательных (представительных) и исполнительных органов государственной власти субъектов Российской Федерации» и «Об общих принципах организации местного самоуправления в Российской Федерации»</option>
                        <option value="от 24.11.1995 №181-ФЗ «О социальной защите инвалидов в Российской Федерации»">от 24.11.1995 №181-ФЗ «О социальной защите инвалидов в Российской Федерации»</option>
                        <option value="от 15.05.1991 № 1244-1 «О социальной защите граждан, подвергшихся воздействию радиации вследствие катастрофы на Чернобыльской АЭС»">от 15.05.1991 № 1244-1 «О социальной защите граждан, подвергшихся воздействию радиации вследствие катастрофы на Чернобыльской АЭС»</option>
                        <option value="от 26.11.1998 №175-ФЗ «О социальной защите граждан Российской Федерации, подвергшихся воздействию радиации вследствие аварии в 1957 году на производственном объединении «Маяк» и сбросов радиоактивных отходов в реку Теча»">от 15.05.1991 № 1244-1 «О социальной защите граждан, подвергшихся воздействию радиации вследствие катастрофы на Чернобыльской АЭС»</option>
                        <option value="от 10.01.2002 № 2-ФЗ «О социальных гарантиях гражданам, подвергшимся радиационному воздействию вследствие ядерных испытаний на Семипалатинском полигоне»">от 10.01.2002 № 2-ФЗ «О социальных гарантиях гражданам, подвергшимся радиационному воздействию вследствие ядерных испытаний на Семипалатинском полигоне»</option>
                        <option value="от 15.01.1993 № 4301-1 «О статусе Героев Советского Союза, Героев Российской Федерации и полных кавалеров ордена Славы»">от 15.01.1993 № 4301-1 «О статусе Героев Советского Союза, Героев Российской Федерации и полных кавалеров ордена Славы»</option>
                        <option value="от 09.01.1997 № 5-ФЗ «О предоставлении социальных гарантий Героям Социалистического Труда, Героям Труда Российской Федерации и полным кавалерам ордена Трудовой Славы»">от 09.01.1997 № 5-ФЗ «О предоставлении социальных гарантий Героям Социалистического Труда, Героям Труда Российской Федерации и полным кавалерам ордена Трудовой Славы»</option>
                        <option value="постановлением Верховного Совета Российской Федерации от 27.12.1991 № 2123-1 «О распространении действия Закона РСФСР «О социальной защите граждан, подвергшихся воздействию радиации вследствие катастрофы на Чернобыльской АЭС» на граждан из подразделений особого риска»">постановлением Верховного Совета Российской Федерации от 27.12.1991 № 2123-1 «О распространении действия Закона РСФСР «О социальной защите граждан, подвергшихся воздействию радиации вследствие катастрофы на Чернобыльской АЭС» на граждан из подразделений особого риска»</option>
                    </select>
                </div>
            </div>
            <h6 class="my-2">Сведения о документе, подтверждающем право гражданина на установление ежемесячной денежной выплаты</h6>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="DocConfirmRightName">Наименование документа</label>
                    <input type="text" asp-for="DocConfirmRightName" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="DocConfirmRightSeries">Серия</label>
                    <input type="text" asp-for="DocConfirmRightSeries" class="form-control">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="DocConfirmRightNumber">Номер</label>
                    <input type="text" asp-for="DocConfirmRightNumber" class="form-control">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="DocConfirmRightIssueDate">Дата выдачи</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bi bi-calendar3"></i>
                        </span>
                        <input asp-for="DocConfirmRightIssueDate" type="text"
                               class="form-control pickdate">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="DocConfirmRightIssuer">Кем выдан</label>
                    <input type="text" asp-for="DocConfirmRightIssuer" class="form-control">
                </div>
            </div>
            <hr />
            <h5 class="my-2">Данные о других членах семьи Героя Советского Союза, Героя Российской Федерации или полного кавалера ордена Славы</h5>
            <div id="otherFamilyMemberList" data-clone-list>
                @for (var i = 0; i < Model.FamilyMembersList.Length; i++)
                {
                    <div class="g-3" id="clone@(i)" data-id="@i" data-clone>
                        <hr />
                        <h6 class="my-2 title">Член семьи @(i + 1)</h6>
                        <div class="row mb-3 align-items-center">
                            <div class="col-11">
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label class="form-label" asp-for="FamilyMembersList[i].FIO">ФИО</label>
                                        <input type="text" class="form-control" asp-for="FamilyMembersList[i].FIO">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label class="form-label" asp-for="FamilyMembersList[i].BirthDate">Дата рождения</label>
                                        <div class="input-group input-group-merge">
                                            <span class="input-group-text">
                                                <i class="bi bi-calendar3"></i>
                                            </span>
                                            <input asp-for="FamilyMembersList[i].BirthDate" type="text"
                                               class="form-control pickdate">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label" asp-for="FamilyMembersList[i].Kinship">Степень родства</label>
                                        <input type="text" class="form-control" asp-for="FamilyMembersList[i].Kinship">
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-danger" onclick="blockRemove(this)">
                                    <i class="bi bi-trash bx-md"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row justify-content-center">
                <div class="col-2">
                    <button type="button" class="btn btn-primary" id="addOtherFamilyMembers">
                        <i class="bi bi-plus"></i>
                    </button>
                </div>
            </div>
            <h6 class="my-2">Кого информировать</h6>
            <div class="row mb-3">
                <div class="col-sm-6">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="RecipientInformationCode1" name="RecipientInformationCode" value="1" checked="@(string.IsNullOrEmpty(Model.RecipientInformationCode) || Model.RecipientInformationCode == "1")">
                        <label class="form-check-label" for="RecipientInformationCode1">меня лично</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="RecipientInformationCode2" name="RecipientInformationCode" value="2">
                        <label class="form-check-label" for="RecipientInformationCode2">моего представителя</label>
                    </div>
                </div>
            </div>
            <h6 class="my-2">Способ информирования</h6>
            <div class="row mb-3">
                <div class="col-sm-12 mt-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="MethodResultCode1" name="MethodResultCode" value="1" checked="@(string.IsNullOrEmpty(Model.MethodResultCode) || Model.MethodResultCode == "1")">
                        <label class="form-check-label" for="MethodResultCode1">Через «Личный кабинет» на сайте ПФР</label>
                    </div>
                </div>
                <div class="col-sm-12 mt-2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="MethodResultCode2" name="MethodResultCode" value="2" checked="@(Model.MethodResultCode == "2")">
                        <label class="form-check-label" for="MethodResultCode2">Через Единый портал государственных и муниципальных услуг</label>
                    </div>
                </div>
                <div class="col-sm-12 mt-2" checkBlock>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="MethodResultCode3" name="MethodResultCode" value="3" checked="@(Model.MethodResultCode == "3")">
                        <label class="form-check-label" for="MethodResultCode3">Путем передачи текстовых сообщений</label>
                    </div>
                    <div class="ms-3 ps-4" checkBlockBody>
                        <div class="col-sm-12 mt-2" checkBlock>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="MessageType1" name="MessageType" value="1" checked="@(string.IsNullOrEmpty(Model.MessageType) || Model.MessageType == "1")">
                                <label class="form-check-label" for="MessageType1">на адрес электронной почты</label>
                            </div>
                            <div class="ms-3 ps-4" checkBlockBody>
                                <label class="form-label" asp-for="MessageEmail">адрес электронной почты</label>
                                <input type="text" asp-for="MessageEmail" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12 mt-2" checkBlock>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="MessageType2" name="MessageType" value="2" checked="@(Model.MessageType == "2")">
                                <label class="form-check-label" for="MessageType2">на абонентский номер устройства подвижной радиотелефонной связи</label>
                            </div>
                            <div class="ms-3 ps-4" checkBlockBody>
                                <label class="form-label" asp-for="MessagePhone">абонентский номер</label>
                                <input type="text" asp-for="MessagePhone" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <h6 class="my-2">Для идентификации личности при обращении в территориальный орган Пенсионного фонда <small>(заполняется один из предложенных вариантов в случае намерения заявителя получать указанную информацию посредством телефонной связи</small></h6>
            <div class="row mb-3">
                <div class="col-sm-12 mt-2" checkBlock>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="VariantIdentity1" name="VariantIdentity" value="1" checked="@(Model.VariantIdentity == "1")">
                        <label class="form-check-label" for="VariantIdentity1">вариант 1: ответ на секретный вопрос</label>
                    </div>
                    <div class="ms-3 ps-4" checkBlockBody>
                        <div class="row mb-3">
                            <div class="col-sm-12 mt-2" checkBlock>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="SecretQuestionCode1" name="SecretQuestionCode" value="1" checked="@(Model.SecretQuestionCode == "1")">
                                    <label class="form-check-label" for="SecretQuestionCode1">девичья фамилия матери</label>
                                </div>
                                <div class="ms-3 ps-4" checkBlockBody>
                                    <label class="form-label" asp-for="SecretQuestionAnswer">Ответ на секретный вопрос</label>
                                    <input type="text" asp-for="SecretQuestionAnswer" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-12 mt-2" checkBlock>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="SecretQuestionCode2" name="SecretQuestionCode" value="2" checked="@(Model.SecretQuestionCode == "2")">
                                    <label class="form-check-label" for="SecretQuestionCode2">кличка домашнего питомца</label>
                                </div>
                                <div class="ms-3 ps-4" checkBlockBody>
                                    <label class="form-label" asp-for="SecretQuestionAnswer">Ответ на секретный вопрос</label>
                                    <input type="text" asp-for="SecretQuestionAnswer" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-12 mt-2" checkBlock>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="SecretQuestionCode3" name="SecretQuestionCode" value="3" checked="@(Model.SecretQuestionCode == "3")">
                                    <label class="form-check-label" for="SecretQuestionCode3">номер школы, которую Вы закончили</label>
                                </div>
                                <div class="ms-3 ps-4" checkBlockBody>
                                    <label class="form-label" asp-for="SecretQuestionAnswer">Ответ на секретный вопрос</label>
                                    <input type="text" asp-for="SecretQuestionAnswer" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-12 mt-2" checkBlock>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="SecretQuestionCode4" name="SecretQuestionCode" value="4" checked="@(Model.SecretQuestionCode == "4")">
                                    <label class="form-check-label" for="SecretQuestionCode4">любимое блюдо</label>
                                </div>
                                <div class="ms-3 ps-4" checkBlockBody>
                                    <label class="form-label" asp-for="SecretQuestionAnswer">Ответ на секретный вопрос</label>
                                    <input type="text" asp-for="SecretQuestionAnswer" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-12 mt-2" checkBlock>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="SecretQuestionCode5" name="SecretQuestionCode" value="5" checked="@(Model.SecretQuestionCode == "5")">
                                    <label class="form-check-label" for="SecretQuestionCode5">Ваш любимый писатель</label>
                                </div>
                                <div class="ms-3 ps-4" checkBlockBody>
                                    <label class="form-label" asp-for="SecretQuestionAnswer">Ответ на секретный вопрос</label>
                                    <input type="text" asp-for="SecretQuestionAnswer" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-2" checkBlock>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="VariantIdentity2" name="VariantIdentity" value="2" checked="@(Model.VariantIdentity == "2")">
                        <label class="form-check-label" for="VariantIdentity2">вариант 2: секретный код</label>
                    </div>
                    <div class="ms-3 ps-4" checkBlockBody>
                        <label class="form-label" asp-for="SecretCode">Секретный код <small>(не более 20 символов)</small></label>
                        <input type="text" asp-for="SecretCode" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="originalBlock">
    <div class="g-3" id="otherFamilyMember" data-id="" data-original>
        <hr />
        <h6 class="my-2 title">Член семьи 100</h6>
        <div class="row mb-3 align-items-center">
            <div class="col-11">
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" asp-for="FamilyMembersList[0].FIO">ФИО</label>
                        <input type="text" class="form-control" asp-for="FamilyMembersList[0].FIO">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" asp-for="FamilyMembersList[0].BirthDate">Дата рождения</label>
                        <div class="input-group input-group-merge">
                            <span class="input-group-text">
                                <i class="bi bi-calendar3"></i>
                            </span>
                            <input asp-for="FamilyMembersList[0].BirthDate" type="text"
                                   class="form-control pickdate">
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label" asp-for="FamilyMembersList[0].Kinship">Степень родства</label>
                        <input type="text" class="form-control" asp-for="FamilyMembersList[0].Kinship">
                    </div>
                </div>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-danger" onclick="blockRemove(this)">
                    <i class="bi bi-trash bx-md"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var additionalForm = $('#additional-data-content');
    var originalBlock = $('#originalBlock');
    var applicant = {
        fio: $("#Customer_Fio"),
        docSeriesNumber: $("#Customer_DocSeriesNumber"),
        docType: $("#DocType"),
        docIssueDate: $("#DocIssueDate"),
        birthDate: $("#BirthDate"),
        birthPlace: $("#BirthAddress"),
        docIssuer: $("#DocIssuer"),
        residenceAddress: $("#ResidenceAddress"),
        residenceAddressp: $("#ResidenceAddressP")
    };

    $(function () {
        additionalForm.find('#addOtherFamilyMembers').on('click', () => addForm('otherFamilyMemberList', 'otherFamilyMember'));
         
        originalBlock.find('[data-original]').each(function(_, item) {
            renameBlock($(item), 100, true);
            visibilityBlock($(item), true, true);
        });

        select2Init(additionalForm);
        let options = { clearIncomplete: true, showMaskOnHover: false };
        additionalForm.find(".pickdate").datepicker({
            language: "ru",
            autoclose: true,
        }).inputmask("99.99.9999", options);

        (function getDictionaries() {
            let dicts = new Set();
            $('[data-dictionary]').each(function() {
                let $this = $(this);
                let options = $this.data('dictionary');
                if (!dicts.has(options.dictionary)) {
                    dicts.add(options.dictionary);
                    $.post(`/SmevBase/SmevGetDictionary`,
                        {
                            type: options.dictionary
                        },
                        function(dictionary) {
                            if (dictionary.error) return;
                            fillSelect(options.dictionary, dictionary);
                        });
                }
            });
        }());

        function fillSelect(dictName, dictionary) {
            $.each($(`[data-dictionary*='"${dictName}"']`),
                function() {
                    let $this = $(this);
                    let items = dictionary;
                    $this.empty();
                    if (!$this.hasClass('required')) {
                        $this.append(new Option('Не выбрано', ''));
                    }
                    if ($this.is('[data-value-value]')) {
                        items.dictionary.forEach(function(item) {
                            $this.append(new Option(item.value, item.value));
                        });
                    } else {
                        items.dictionary.forEach(function(item) {
                            $this.append(new Option(item.value, item.key));
                        });
                    }

                    if ($this.data('dictionary').default_value) {
                        let defVal = $this.data('dictionary').default_value;
                        if (defVal) {
                            $this.val(defVal).trigger('update');
                            $this.attr('data-def', defVal);
                        }
                    } else {
                        $this.val('').trigger('update');
                    }
                });
        }

        toggleFields();
    });

    additionalForm.find('[type="radio"], input[type="checkbox"]').on('click', function () {
        toggleFields();
    });

    function toggleFields() {
        additionalForm.find('[checkBlock] input[type="radio"], [checkBlock] input[type="checkbox"]').each(function () {
            let $block = $(this).closest('[checkBlock]');

            if ($(this).is(':checked')) {
                visibilityBlock($block.find('[checkBlockBody]'), false, false);
            } else {
                visibilityBlock($block.find('[checkBlockBody]'), true, true);
            }
        })
    }

     function select2Init($block) {
            $block.find("select.select2-nosearch").each(function() {
                $(this).select2({
                    minimumResultsForSearch: Infinity
                });
            });

            $block.find("select.select2-search").each(function() {
                $(this).select2({
                });
            });
        }

    function blockRemove(el) {
        let $cloneList = $(el).closest('[data-clone-list]');
        el.closest('[data-clone]').remove();
        $cloneList.find('[data-clone]').each(function(index, item) {
            renameBlock($(item), index);
        });
    }

    function renameBlock($cloneBlock, indexId, initOriginal = false) {
        if (!initOriginal) {
            $cloneBlock.find('.title').text($cloneBlock.find('.title').text().replace(/\d+/, indexId + 1));
            $cloneBlock.attr("id", `clone${indexId}`);
            $cloneBlock.attr('data-id', indexId);
            $cloneBlock.attr('data-clone', '');
            $cloneBlock.removeAttr('data-original');
        }

        $cloneBlock.find('input, select, div').each(function() {
            $(this).attr('id', $(this).attr('id')?.replace(/\d+/, indexId));
            if ($(this).is('[name]')) {
                $(this).attr('name', $(this).attr('name').replace(/\d+/, indexId));
            }
        });

        $cloneBlock.find('label').each(function() {
            $(this).attr('for', $(this).attr('for').replace(/\d+/, indexId));
        });
    }

    function visibilityBlock($block, hide, isDisabled) {
        switch (hide) {
            case true:
                $block.hide();
                break;
            case false:
                $block.show();
                break;
        }

        switch (isDisabled) {
            case true:
                $block.find('input, select').each(function() {
                    $(this).prop('disabled', true);
                });
                break;
            case false:
                $block.find('input, select').each(function() {
                    $(this).prop('disabled', false);
                });
                $block.find('[data-disabled]').each(function() {
                    visibilityBlock($(this), true, true);
                });
                break;
        }
    }

    function addForm(cloneListId, originalId) {
        let $cloneList = additionalForm.find(`#${cloneListId}`);
        let $original = originalBlock.find(`#${originalId}`);
        let $cloneBlock = $original.clone(true);
        let indexId = $cloneList.find('[data-clone]').length;
        renameBlock($cloneBlock, indexId);
        blockInit($cloneBlock);
        $cloneList.find("select").each(function() {
            $(this).select2('destroy');
        });
        $cloneList.append($cloneBlock);
        select2Init($cloneList);
    }

    function blockInit($block) {
        visibilityBlock($block, false, false);

        $block.find("input").each(function() {
                $(this).val("");
            });

        $block.find(".pickdate").datepicker({
            language: "ru",
            autoclose: true
        }).inputmask("99.99.9999", { clearIncomplete: true, showMaskOnHover: false });
    }
</script>