@model ViewModelBuilder
@{
    string Id = ViewData["Id"]?.ToString() ?? string.Empty;
}

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                @if (Model.IsVisibleDescription)
                {
                    <div class="b-s-14">@Model.ViewDescription</div>
                }
            </div>

            <div class="col-6 pull-right">
                @if (User.HasClaim(AccessKeyNames.ReferenceEmployee, AccessKeyValues.Add))
                {
                    <div class="col-auto text-md-end">
                        <a href="javascript:void(0);" data-btn-params='{"actionType":"@ActionType.Add", "employeeId" : "@Id" }' data-btn-type="add" data-for-table="@Model.TableName" class="r-a-14">
                            <i class="bi bi-plus"></i> Добавить
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive mt-3">
                    <table asp-for="Model" asp-access-key-name="@AccessKeyNames.ReferenceEmployee" class="directory_names-items table table-striped"></table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $tableExecutionRoles = $('#@(Model.TableName)');

    $(document).ready(function () {
        let isCanAddExecutionRoles = $tableExecutionRoles.is('[data-action-add]'),
            isCanEditExecutionRoles = $tableExecutionRoles.is('[data-action-edit]'),
            isCanRemoveExecutionRoles = $tableExecutionRoles.is('[data-action-remove]');

        $tableExecutionRoles.DataTable({
            sDom: "<'row'<'col-sm-12 col-md-6 'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            processing: true,
            searching: false,
            serverSide: true,
            filter: true,
            searchDelay: 1500,
            ajax: {
                url: $tableExecutionRoles.data('action-table'),
                type: "POST",
                datatype: "json",
                dataSrc: function (json) {
                    return json.data;
                }
            },
            columnDefs: [
                {
                    data: "id",
                    targets: 0,
                    title: '',
                    visible: false,
                    orderable: false
                },
                {
                    targets: 1,
                    title: 'Роль',
                    orderable: false
                },
                {
                    targets: 2,
                    title: 'Сотрудник',
                    orderable: false
                },
                {
                    targets: -1,
                    title: 'Действия',
                    data: "id",
                    width: "80px",
                    className: 'text-center editor-edit',
                    sorting: false,
                    orderable: false
                }
            ],
            columns: [
                {},
                { data: "roleName" },
                {
                    data: "employeesFioAdd",
                    render: function (data, type, row) {
                        return `${data}<div class="m-s-12">${row.dateAdd}</div>`;
                    }
                },
                {
                    render: function (data, type, row) {
                        return DeleteBtnExecutionRoles({ "id": data });
                    }
                }
            ]
        });
        $tableExecutionRoles.on("reload", () => {
            $tableExecutionRoles.DataTable().ajax.reload(null, false);
        });

        $tableExecutionRoles.on('draw.dt', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl, {
                    boundary: document.body
                });
            });
        });

        const DeleteBtnExecutionRoles = (data) => {
            const params = JSON.stringify(data);
            return `<a href="javascript:void(0);" data-btn-params='${params}' data-employee-remove-btn-type data-bs-toggle="tooltip" title="Удалить" class="btn btn-sm btn-icon text-danger">
                    <i class="bi bi-trash"></i></a>`;
        }
    });

    
</script>
