@model ViewModelBuilder
@{
    //string Id = ViewData["Id"]?.ToString() ?? string.Empty;
    bool isThisEmployee = (bool)ViewData["isThisEmployees"];
}


<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                @if (Model.IsVisibleDescription)
                {
                    <div class="b-s-14">@Model.ViewDescription</div>
                }
            </div>

            <div class="col-6 pull-right">
                
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive mt-3">
                    <table id="@Model.TableName" data-action-table="@Model.TableMethodAction" data-action-edit="@Model.EditMethodAction" data-action-remove="@Model.RemoveMethodAction" class="directory_names-items table table-striped"></table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $tableTest = $('#@(Model.TableName)');
        
    $(document).ready(function () {
        let isCanAddTest = $tableTest.is('[data-action-add]'),
            isCanEditTest = $tableTest.is('[data-action-edit]'),
            isCanRemoveTest = $tableTest.is('[data-action-remove]');

        $tableTest.DataTable({
            sDom: "<'row'<'col-sm-12 col-md-6 'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            processing: true,
            searching: false,
            serverSide: true,
            filter: true,
            searchDelay: 1500,
            ajax: {
                url: $tableTest.data('action-table'),
                type: "POST",
                datatype: "json",
                dataSrc: function (json) {
                    return json.data;
                }
            },
            columnDefs: [
                {
                    data: "id",
                    targets: 0,
                    title: '',
                    visible: false,
                    orderable: false
                },
                {
                    targets: 1,
                    title: '№',
                    orderable: false
                },
                {
                    targets: 2,
                    title: 'Наименование',
                    orderable: false
                },
                {
                    targets: 3,
                    title: 'Кол-во Вопросов',
                    orderable: false
                },
                {
                    targets: 4,
                    title: 'Кол-во Минут',
                    orderable: false
                },
                {
                    targets: 5,
                    title: 'Дата начала',
                    orderable: false
                },
                {
                    targets: -1,
                    title: 'Действия',
                    data: "id",
                    className: 'text-center editor-edit',
                    sorting: false,
                    orderable: false
                }
            ],
            columns: [
                {},
                { data: "testNumber" },
                { data: "testName" },
                { data: "countQuestion" },
                { data: "countMinute" },
                { data: "dateStartActiveTest" },
                {
                    render: function (data, type, row) {
                        if ('@isThisEmployee' === 'True' && !row.isDateStartActiveTest) {
                            return `<button type="button" data-bs-toggle="tooltip" title="Начать тест" class="btn btn-sm btn-primary" disabled>Начать</button>`;
                        }
                        else if ('@isThisEmployee' === 'True' && row.isDateStartActiveTest && row.dateStopEmployee == null) {
                            return `<button type="button" onClick="window.open('/Reference/EmployeeTestStartView?id=${row.id}', '_blank');"  data-bs-toggle="tooltip" title="Начать тест" class="btn btn-sm btn-primary">Начать</button>`;
                        }
                        else {
                            if (row.percent==null) {
                                return `<span class="badge bg-secondary" title="тест не завершен">0%</span>`;
                            }
                            else if (row.percent<50) {
                                return `<span class="badge bg-danger">${row.percent}%</span>`;
                            }
                            else if (row.percent >= 50 && row.percent < 75) {
                                return `<span class="badge bg-warning">${row.percent}%</span>`;
                            }
                            else if (row.percent >= 75 && row.percent < 85) {
                                return `<span class="badge bg-info">${row.percent}%</span>`;
                            }
                            else if (row.percent >= 85) {
                                return `<span class="badge bg-success">${row.percent}%</span>`;
                            }
                            else {
                                return "";
                            } 
                        }
                    }
                }
            ]
        });

        $tableTest.on("reload", () => {
            $tableTest.DataTable().ajax.reload(null, false);
        });

        $tableTest.on('draw.dt', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl, {
                    boundary: document.body
                });
            });
        });

        const DeleteBtnTest = (data) => {
            const params = JSON.stringify(data);
            return `<a href="javascript:void(0);" data-btn-params='${params}' data-btn-type="remove" data-bs-toggle="tooltip" title="Удалить" class="btn btn-sm btn-icon text-danger">
                            <i class="bi bi-trash"></i></a>`;
        }
    });
</script>

